@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.Duende.IdentityServer.Admin.BusinessLogic.Dtos.Configuration.ClientDto
@inject IViewLocalizer Localizer

<div class="card mt-3">
    <h5 class="card-header">@Localizer["PanelTitle"]</h5>
    <div class="card-body">
        <!--Select with tags-->
        <div class="form-group row">
            <label asp-for="AllowedGrantTypes" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Client/Section/Label", "AllowedGrantTypes")
            </label>
            <div class="col-sm-9">
                <picker id="AllowedGrantTypesItems" multiple-select="true" min-search-text="2"
                        url="@Url.Action("SearchGrantTypes","Configuration")?grant"
                        selected-items="@Model.AllowedGrantTypes"
                        search-input-placeholder="@Localizer["PickerSearchItemPlaceholder"].Value"
                        selected-items-title="@Localizer["PickerSelectedItemsTitle"].Value"
                        search-result-title="@Localizer["PickerSearchResultTitle"].Value"
                        suggested-items-title="@Localizer["PickerSuggestedItemsTitle"].Value"
                        no-item-selected-title="@Localizer["PickerNoItemSelectedTitle"].Value"
                        show-all-items-title="@Localizer["PickerShowAllItemsTitle"].Value"
                        item-already-selected-title="@Localizer["PickerItemAlreadySelectedTitle"].Value">
                </picker>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <div class="alert alert-warning mt-2">
                    <span class="oi oi-pin"></span> @Localizer["NotRecommendedGrantTypes"]
                </div>
            </div>
        </div>
    </div>
</div>