@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.Duende.IdentityServer.Admin.BusinessLogic.Dtos.IdentityProvider
@using Skoruba.Duende.IdentityServer.Admin.UI.Configuration.Constants
@model Skoruba.Duende.IdentityServer.Admin.BusinessLogic.Dtos.IdentityProvider.IdentityProviderDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<div class="row">
	<div class="col-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-area="@CommonConsts.AdminUIArea" asp-controller="identityProvider" asp-action="IdentityProviders">@Localizer["NavigationIdentityProviders"]</a></li>
				<li class="breadcrumb-item active" aria-current="page">@Model.Scheme</li>
			</ol>
		</nav>
	</div>

	<div class="col-12">
		<h2>@Localizer["PageTitle"]</h2>
	</div>
</div>

<form asp-area="@CommonConsts.AdminUIArea" asp-action="IdentityProvider" method="post" id="identity-provider-form">

	<div asp-validation-summary="All" class="text-danger"></div>

	<!--Hidden -->
	<input type="hidden" asp-for="Id" />

	<div class="card mt-3">
		<h5 class="card-header">@Localizer["PanelTitle"]</h5>
		<div class="card-body">
			<!--Input - text -->
			<div class="form-group row">
				<label asp-for="Scheme" class="col-sm-3 col-form-label">
					@await Html.PartialAsync("IdentityProvider/Section/Label", "Scheme")
				</label>
				<div class="col-sm-9">
					<input type="text" required class="form-control" asp-for="Scheme">
					<span asp-validation-for="Scheme" class="text-danger"></span>
				</div>
			</div>

			<!--Input - text -->
			<div class="form-group row">
				<label asp-for="DisplayName" class="col-sm-3 col-form-label">
					@await Html.PartialAsync("IdentityProvider/Section/Label", "DisplayName")
				</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" asp-for="DisplayName">
				</div>
			</div>

			<!--Input - text -->
			<div class="form-group row">
				<label asp-for="Type" class="col-sm-3 col-form-label">
					@await Html.PartialAsync("IdentityProvider/Section/Label", "Type")
				</label>
				<div class="col-sm-9">
                    <input type="text" required class="form-control" asp-for="Type">
                    <span asp-validation-for="Type" class="text-danger"></span>
				</div>
			</div>

			<!--Checkbox-->
			<div class="form-group row">
				<label asp-for="Enabled" class="col-sm-3 col-form-label">
					@await Html.PartialAsync("IdentityProvider/Section/Label", "Enabled")
				</label>
				<div class="col-sm-9">
					<toggle-button>
						<input asp-for="Enabled" type="checkbox">
					</toggle-button>
				</div>
			</div>
			
            <div class="form-group row">
                <label asp-for="Properties" class="col-sm-3 col-form-label">
                    @await Html.PartialAsync("IdentityProvider/Section/Label", "Properties")
                </label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm">
                            @await Html.PartialAsync("IdentityProvider/Section/Label", "PropertyKey")
                        </div>
                        <div class="col-sm">
                            @await Html.PartialAsync("IdentityProvider/Section/Label", "PropertyValue")
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" id="property-list">
                            @foreach (var key in Model.Properties.Keys)
                        {
                            @Html.EditorFor(m => m.Properties[key])
                        }
                        </div>
                    </div>
                    <div class="row">
                       <a href="#" class="add-property oi oi-plus">add property</a>
                    </div>
                </div>
            </div>
			
            <!--Button-->
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">
				</label>
				<div class="col-sm-9">
					<button type="submit" asp-action="IdentityProvider" id="identity-provider-save-button" class="btn btn-primary">@Localizer["ButtonSave"]</button>
					@if (Model.Id != 0)
					{
						<a asp-area="@CommonConsts.AdminUIArea" class="btn btn-danger" asp-action="IdentityProviderDelete" asp-route-id="@Model.Id">@Localizer["ButtonDelete"]</a>
					}
				</div>
			</div>
		</div>
	</div>

</form>

@section scripts
	{
	<script>
		$(function () {

            var propertyCount = @Model.Properties.Count;

			//Disable enter for this form
			FormMvc.disableEnter($('#identity-provider-form'));
			
            //$("#add").click(function (e) { 
            $("body").on("click", ".add-property", function (e) {
                e.preventDefault();
                var i = propertyCount;
                var propertyTemplate = 
                    '<div class="property row">' +
                    '    <div class="col-sm">' +
                    '        <input type="text" required class="form-control" id="Properties_' + i + '__Name" name="Properties[' + i + '].Name" />' +
                    '        <span class="text-danger field-validation-error" data-valmsg-for="Properties[' + i + '].Name" data-valmsg-replace="true"></span>' +
                    '    </div>' +
                    '    <div class="col-sm">' +
                    '        <input type="text" class="form-control" id="Properties_' + i + '__Value" name="Properties[' + i + '].Value" />' +
                    '    </div>' +
                    '    <div class="col-sm-1 col-xs-1"><span class="remove-property oi oi-trash"></span></div>' +
                    '</div>';

                $("#property-list").append(propertyTemplate);
                propertyCount++;
            });
            $("body").on("click", ".remove-property", function (e) {
                e.preventDefault();
                $(e.target).closest(".property").remove();
            });


		});
    </script>
}