@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.Duende.IdentityServer.Admin.BusinessLogic.Shared.Dtos.Common
@using Skoruba.Duende.IdentityServer.Admin.UI.Configuration.Constants
@model Skoruba.Duende.IdentityServer.Admin.BusinessLogic.Dtos.IdentityProvider.IdentityProvidersDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<div class="row">
	<div class="col-12 text-center mt-1 mb-1">
		<h2><span class="oi oi-shield" title="External Identity Providers" aria-hidden="true"></span> @Localizer["PageTitle"]</h2>
	</div>

	<div class="col-12">
		<a asp-area="@CommonConsts.AdminUIArea" asp-action="IdentityProvider" class="btn btn-outline-primary mb-3"><span class="oi oi-plus"></span> @Localizer["ButtonAddIdentityProvider"]</a>
	</div>

	<div class="col-12">
		@await Html.PartialAsync("Common/Search", new Search { Action = "IdentityProviders", Controller = "IdentityProvider" })
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>@Localizer["TableName"]</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var identity in Model.IdentityProviders)
					{
						<tr>
							<th scope="row"><a asp-area="@CommonConsts.AdminUIArea" class="btn btn-primary" asp-action="IdentityProvider" asp-route-id="@identity.Id">@Localizer["TableButtonEdit"]</a></th>
							<td>@identity.Scheme</td>
							<td>
								<a asp-area="@CommonConsts.AdminUIArea" class="btn btn-danger" asp-action="IdentityProviderDelete" asp-route-id="@identity.Id"><span class="oi oi-x"></span></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		@await Html.PartialAsync("Common/Pager", new Pager { Action = "IdentityProviders", PageSize = Model.PageSize, TotalCount = Model.TotalCount, EnableSearch = true, Search = ViewBag.Search })
	</div>
</div>