@model Skoruba.Duende.IdentityServer.Admin.BusinessLogic.Shared.Dtos.Common.Search
@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.Duende.IdentityServer.Admin.UI.Configuration.Constants
@inject IViewLocalizer Localizer

<form asp-area="@CommonConsts.AdminUIArea" asp-controller="@Model.Controller" asp-action="@Model.Action" method="get">
    <div class="input-group mb-3">
        <input type="text" name="search" value="@ViewBag.Search" class="form-control" placeholder="@Localizer["InputSearchPlaceHolder"]" aria-label="Search text input with search button" aria-describedby="search-button-addon">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" id="search-button-addon">@Localizer["ButtonSearch"]</button>
        </div>
    </div>
</form>